@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.search {
  width: 85%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 90vh;
  padding: 5px;
  height: 35px;
  background-color: #f9f9f9;
  outline: none;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  padding: 15px;
  border: none;
  border-radius: 0 15px 15px 0;
  color: gray;
}


.searchButton {
    border: none;
    width: 40px;
    height: 65px;
    border-radius: 15px 0 0 15px;
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: 20px;
    background-color: #f9f9f9;
    outline: none;
}

.searchButton1 {
    margin-left: 2.5%;
    color: black;
    border: none;
    width: 40px;
    height: 65px;
    border-radius: 15px 0 0 15px;
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: 30px;
    background-color: white;
    outline: none;
}
