// #f9f9f9 - SIDEBAR COLOR GRAY
// #929496 - TEXT SIDEBAR GRAYT
// #3b3fff - BLUE COLOR
// #292d32 - BLACK COLOR

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

main {
    width: 100%;
    padding: 1.5%;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    height: 100vh;
    width: 20%;
    background-color: #f9f9f9;

    padding: 10px;

    .main_column {
        .hr {
            height: 2px;
            background-color: #d6d5d5;

        }
        .title {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            color: #3b3fff;
            font-family: 'Chivo Mono', monospace;
            font-weight: 1000;
            letter-spacing: 2px;
            font-size: 27px;
            height: 100px;
        }
        .puncts {
            ul {
                .active {
                    a {
                        color: #3b3fff;
                    }
                }
                display: flex;
                flex-direction: column;
                color: #929496;
                li {
                    margin-top: 10px;
                    margin-left: 15%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    height: 85px;
                    width: 90%;
                    cursor: pointer;
                    a {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        height: 85px;
                        width: 90%;
                        font-size: 24px;
                        color: #929496;
                        font-family: 'Nunito', sans-serif;

                        p {
                            margin-left: 15%;
                        }
                    }
                }
            }
        }
        .two_puncts {
            ul {
                .active {
                    a {
                        color: #3b3fff;
                    }
                }
                display: flex;
                flex-direction: column;
                color: black;
                li {
                    margin-top: 10px;
                    margin-left: 15%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    height: 85px;
                    width: 90%;
                    cursor: pointer;
                    a {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        height: 85px;
                        width: 90%;
                        font-size: 24px;
                        color: black;
                        font-family: 'Nunito', sans-serif;
                        p {
                            margin-left: 15%;
                        }
                    }
                }
            }
        }
    }
}

.cap {
    width: 100%;
    height: auto;
    margin-bottom: 3%;

    .colums {
        display: flex;
        flex-direction: row;
        width: 100%;

        .wrap {
            display: flex;
            align-items: center;
            width: 100%;
            .user {
                ul {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    li {
                        margin-right: 20%;
                    }

                    .nav__img {
                        img {
                            height: 50px;
                            border-radius: 30px;                            
                        }
                    }
                }
            }
        }
    }
}

.main_index {
    height: 45%;
    .stock {
        height: 100%;
        .title {
            font-weight: 1000;
            font-size: 40px;
            font-family: 'Chivo Mono', monospace;
            margin-bottom: 2%;
        }
        .carousel {
            display: flex;
            flex-direction: row;
            height: 100%;
            a {
                text-decoration: none;
                .card {
                    display: flex;
                    align-items: center;
                    background-color: #3b3fff;
                    padding: 3%;
                    height: 220px;
                    width: 500px;
                    border-radius: 15px;
                    margin-right: 30px;
    
                    .info { 
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
    
                        .main {
                            font-family: 'Nunito', sans-serif;
                            font-weight: 800;
                            margin-bottom: 10px;
                            font-size: 50px;
                            color: white;
                            width: 50%;
    
                        }
    
                        .desc {
                            font-family: 'Nunito', sans-serif;
                            color: rgb(209, 209, 209);
                        }
                    }
                    .img {
                        background: none;
                        margin-left: 20px;
                        img {
                            height: 90%;
                            width: 85%;
                            min-height: 50%;
                            min-width: 50%;
                            object-fit: cover;
                        }
                    }
                }
                .card2 {
                    display: flex;
                    align-items: center;
                    padding: 3%;
                    height: 220px;
                    width: 500px;
                    border-radius: 15px;
                    background-color: #ff9c6c;
                    margin-left: 30px;
    
                    .info {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
    
                        .main {
                            font-family: 'Nunito', sans-serif;
                            font-weight: 800;
                            margin-bottom: 10px;
                            font-size: 50px;
                            color: white;
                            width: 50%;
                        }
    
                        .desc {
                            font-family: 'Nunito', sans-serif;
                            color: rgb(228, 228, 228);
                        }
                    }
                    .img {
                        background: none;
                        margin-left: 20px;
                        img {
                            height: 100%;
                            width: 100%;
                            min-height: 100%;
                            min-width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

        }
    }
    .info_block {
        .title {
            font-weight: 700;
            font-size: 40px;
            font-family: 'Chivo Mono', monospace;
            margin-bottom: 2%;
        }
        .desc {
            letter-spacing: 1.5px;
            font-family: 'Nunito', sans-serif;
            font-weight: 500;
            width: 80%;
        }
    }
}

.rules_information {
    height: 100%;

    .cap {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3b3fff;
        border-radius: 15px;
        height: 15%;

        p {
            
            color: white;
            font-size: 50px;
            font-family: 'Nunito', sans-serif;
            margin-right: 30px;
        }
    }

    .list {
        display: flex;

        ul {
            li {                
                font-size: 18px;
                margin-right: 50px;
                margin-top: 6px;
                font-family: 'Nunito', sans-serif;

                a {
                    color: #3b3fff;
                }
            }
        }
    }
    .list2 {
        ul {
            li {
                a {
                    font-size: 13px;
                    color:black;
                    font-family: 'Nunito', sans-serif;
                }
            }
        }
    }
}

.advice_information {
    height: 100%;

    .cap {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff9c6c;
        border-radius: 15px;
        height: 7%;

        p {
            
            color: white;
            font-size: 50px;
            font-family: 'Nunito', sans-serif;
            margin-right: 30px;
        }
    }

    .list {
        display: flex;

        ul {
            li {                
                font-size: 15px;
                margin-right: 50px;
                margin-top: 6px;
                font-family: 'Nunito', sans-serif;

                a {
                    color: #3b3fff;
                }
            }
        }
    }
    .list2 {
        ul {
            li {
                a {
                    font-size: 13px;
                    color:black;
                    font-family: 'Nunito', sans-serif;
                }
            }
        }
    }
}

.other_information {
    height: 100%;

    .cap {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        border-radius: 15px;
        height: 15%;

        p {
            
            color: white;
            font-size: 50px;
            font-family: 'Nunito', sans-serif;
            margin-right: 30px;
        }
    }

    .list {
        display: flex;

        ul {
            li {                
                font-size: 18px;
                margin-right: 50px;
                margin-top: 6px;
                font-family: 'Nunito', sans-serif;

                a {
                    color: #3b3fff;
                }
            }
        }
    }
    .list2 {
        ul {
            li {
                a {
                    font-size: 13px;
                    color:black;
                    font-family: 'Nunito', sans-serif;
                }
            }
        }
    }
}